.profile-pic.svelte-98kdry {
 width:40px;
 height:40px;
 min-width:40px;
 min-height:40px;
 border-radius:4px;
 background-color:#eee
}
.mini.svelte-98kdry {
 width:40px;
 height:40px;
 min-width:40px;
 min-height:40px;
 border-radius:4px;
 object-fit:cover;
 object-position:center center
}
.comment.svelte-13v88kr.svelte-13v88kr {
 display:flex;
 padding:10px;
 margin:5px;
 border-radius:4px;
 background-color:#fff
}
.comment.svelte-13v88kr p.svelte-13v88kr {
 margin:0;
 padding:0 10px 10px;
 text-align:left;
 word-break:break-all
}
.comment.svelte-13v88kr .username.svelte-13v88kr {
 font-weight:700
}
.comment.svelte-13v88kr .date.svelte-13v88kr {
 font-size:.9em;
 float:right
}
.comment.svelte-13v88kr .body.svelte-13v88kr {
 width:100%;
 font-size:.9em
}
.comment.svelte-13v88kr .engagement.svelte-13v88kr {
 text-align:right;
 font-size:.9em;
 display:flex;
 justify-content:flex-end;
 align-items:center
}
.comment.svelte-13v88kr .engagement span.svelte-13v88kr {
 padding:5px;
 display:flex;
 align-items:center;
 color:var(--color-7)
}
.comment.svelte-13v88kr .engagement.svelte-13v88kr svg {
 fill:var(--color-7)
}
.comment.svelte-13v88kr .engagement.svelte-13v88kr svg:hover {
 fill:#000;
 color:#000
}
h4.svelte-y4g587.svelte-y4g587 {
 text-align:left;
 margin-top:0
}
.content.svelte-y4g587.svelte-y4g587 {
 display:flex;
 flex-wrap:wrap;
 min-height:100%;
 min-width:70%;
 max-width:1024px;
 margin:auto;
 padding:10px
}
.first.svelte-y4g587.svelte-y4g587 {
 width:100%;
 padding:0
}
.break.svelte-y4g587.svelte-y4g587 {
 flex-basis:100%;
 height:0
}
.second.svelte-y4g587.svelte-y4g587 {
 width:100%;
 text-align:left;
 padding:0
}
p.svelte-y4g587.svelte-y4g587 {
 font-weight:700
}
.post-image.svelte-y4g587.svelte-y4g587 {
 display:flex;
 margin-top:10px;
 width:calc(100% - 20px);
 padding:20px 0 20px 20px;
 background:rgb(117,182,218);
 background:linear-gradient(0deg,rgba(117,182,218,1) 0%,rgba(203,117,218,1) 100%);
 border-radius:8px
}
.post-card.svelte-y4g587.svelte-y4g587 {
 width:calc(100% - 50px);
 height:100%
}
.engagement.svelte-y4g587.svelte-y4g587 {
 display:flex;
 flex-direction:column;
 width:50px;
 align-items:center;
 justify-content:center
}
.engage.svelte-y4g587.svelte-y4g587 {
 text-align:center;
 color:#fff
}
.engagement.svelte-y4g587 span.svelte-y4g587 {
 padding:10px
}
.date.svelte-y4g587.svelte-y4g587 {
 float:right;
 color:#fff;
 font-weight:700;
 padding:5px!important;
 font-size:.9em;
 text-align:right
}
.bid-date.svelte-y4g587.svelte-y4g587 {
 font-size:.9em
}
.nft-price.svelte-y4g587.svelte-y4g587 {
 color:#fff;
 display:flex;
 align-items:center
}
.nft-price.svelte-y4g587 .green-button.svelte-y4g587 {
 margin-left:10px
}
.nft-price.svelte-y4g587 svg {
 height:18px;
 padding-top:2px
}
.royalty.svelte-y4g587.svelte-y4g587 {
 font-size:.9em;
 width:90px;
 text-align:right;
 padding:5px!important
}
.royalty-grid.svelte-y4g587.svelte-y4g587 {
 display:flex;
 flex-wrap:wrap
}
.add-royalty.svelte-y4g587.svelte-y4g587 {
 font-size:.9em;
 padding:10px;
 display:flex;
 align-items:center
}
.body.svelte-y4g587.svelte-y4g587 {
 text-align:left;
 font-weight:400;
 word-break:break-all;
 font-size:.9em
}
.details-content.svelte-y4g587.svelte-y4g587 {
 border:1px #eee solid;
 padding:10px;
 width:calc(100% - 20px);
 background-color:#fcfcfc;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px
}
.details-header.svelte-y4g587.svelte-y4g587 {
 margin-top:10px;
 padding:10px;
 background-color:var(--color-4);
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 color:#fff;
 font-weight:700;
 letter-spacing:.5px
}
.bids.svelte-y4g587.svelte-y4g587,
.nfts.svelte-y4g587.svelte-y4g587 {
 height:200px;
 overflow:hidden;
 overflow-y:auto;
 width:100%
}
.bids.svelte-y4g587 .bid.svelte-y4g587:hover,
.nfts.svelte-y4g587 .nft.svelte-y4g587:hover {
 background-color:#eee
}
.bids.svelte-y4g587 .svelte-y4g587::-webkit-scrollbar,
.nfts.svelte-y4g587 .svelte-y4g587::-webkit-scrollbar {
 width:5px
}
.bids-header.svelte-y4g587.svelte-y4g587,
.nfts-header.svelte-y4g587.svelte-y4g587 {
 display:flex;
 font-weight:700;
 font-size:.9em
}
.bid.svelte-y4g587.svelte-y4g587,
.nft.svelte-y4g587.svelte-y4g587 {
 display:flex;
 height:55px;
 align-content:center;
 align-items:center;
 border-top:1px solid #fff;
 font-size:.9em
}
.price.svelte-y4g587.svelte-y4g587 {
 font-size:1.3em!important;
 font-weight:700;
 width:250px
}
.collection-link.svelte-y4g587.svelte-y4g587 {
 color:var(--color-4)
}
.outbid.svelte-y4g587.svelte-y4g587 {
 font-size:.9em
}
.outbid.svelte-y4g587 button.svelte-y4g587 {
 background-color:var(--color-2);
 font-weight:400;
 margin:0 5px;
 padding:.3em;
 color:#fff;
 cursor:pointer;
 border:none;
 border-radius:4px
}
.outbid.svelte-y4g587 button.svelte-y4g587:hover {
 background-color:#7f9b8b
}
.mini-profile.svelte-y4g587.svelte-y4g587 {
 width:30px;
 height:30px;
 border-radius:4px;
 cursor:pointer
}
.flex-center.svelte-y4g587.svelte-y4g587 {
 display:flex;
 align-content:center
}
.flex-center.svelte-y4g587 span.svelte-y4g587 {
 padding:5px
}
.user.svelte-y4g587.svelte-y4g587 {
 width:170px;
 cursor:pointer;
 display:-webkit-box;
 -webkit-line-clamp:1;
 -webkit-box-orient:vertical;
 overflow:hidden;
 text-overflow:ellipsis;
 word-break:normal;
 word-wrap:normal
}
.nft.svelte-y4g587 .user.svelte-y4g587,
.bids.svelte-y4g587 .user.svelte-y4g587 {
 width:120px
}
.number.svelte-y4g587.svelte-y4g587,
.forsale.svelte-y4g587.svelte-y4g587 {
 width:40px
}
.amount.svelte-y4g587.svelte-y4g587 {
 width:75px
}
.header-user.svelte-y4g587.svelte-y4g587 {
 width:175px
}
.sales.svelte-y4g587 .header-user.svelte-y4g587 {
 width:140px
}
.header-number.svelte-y4g587.svelte-y4g587 {
 width:48px
}
.header-amount.svelte-y4g587.svelte-y4g587 {
 width:75px
}
.hide-mobile.svelte-y4g587.svelte-y4g587 {
 display:none
}
.settings.svelte-y4g587.svelte-y4g587 {
 float:right;
 cursor:pointer
}
.settings.svelte-y4g587 button.svelte-y4g587 {
 display:flex;
 background-color:#cb75da;
 align-content:center;
 justify-content:center;
 color:#fff;
 border-radius:4px;
 transition:.5s;
 border:none;
 margin-right:10px;
 font-size:.9em;
 width:90px;
 margin-top:-5px
}
.trait.svelte-y4g587.svelte-y4g587 {
 display:flex;
 text-align:left;
 align-items:center;
 border-bottom:1px solid lightgray;
 color:#333
}
.extra-data.svelte-y4g587 p.svelte-y4g587 {
 text-align:left;
 font-weight:400
}
.type.svelte-y4g587.svelte-y4g587,
.value.svelte-y4g587.svelte-y4g587 {
 width:calc(50% - 10px);
 padding:5px;
 font-size:.9em;
 overflow:hidden;
 white-space:nowrap;
 word-break:break-all;
 text-overflow:ellipsis
}
.type.svelte-y4g587.svelte-y4g587 {
 font-weight:700
}
.value.svelte-y4g587.svelte-y4g587 {
 text-align:right
}
.settings svg {
 width:15px;
 height:15px;
 color:#fff;
 fill:#fff
}
.settings svg:hover {
 color:#7f9b8b;
 fill:#7f9b8b;
 stroke:#7f9b8b
}
.default-tip {
 font-size:.7em
}
.outbid svg {
 fill:#000;
 width:10px;
 height:10px;
 cursor:pointer;
 margin-right:2px
}
.engagement svg {
 fill:#fff;
 height:20px;
 width:auto;
 cursor:pointer
}
.engagement svg:hover {
 color:var(--color-8);
 fill:var(--color-8);
 stroke:var(--color-8)
}
@media (min-width: 640px) {
 .break.svelte-y4g587.svelte-y4g587 {
  display:none
 }
 .first.svelte-y4g587.svelte-y4g587,
 .second.svelte-y4g587.svelte-y4g587 {
  width:calc(50% - 20px);
  padding:10px
 }
 .content.svelte-y4g587.svelte-y4g587 {
  padding:0
 }
 .outbid.svelte-y4g587.svelte-y4g587,
 .hide-mobile.svelte-y4g587.svelte-y4g587 {
  display:block
 }
 .outbid.svelte-y4g587 .hide-mobile.svelte-y4g587 {
  display:inline
 }
 .sales.svelte-y4g587 .header-user.svelte-y4g587 {
  width:175px
 }
}
