<h1>Feeds</h1>

{{#if publicKey}}
<p>3D NFTs Belonging To {{publicKey}}</p>
<ul class='nft-feed'>
{{#each nfts}}
<li>
		<p>{{message}}</p>
		<div id="container">
		<img class="nft-preview" src="{{previewImage}}"/>
		</div>
		<p class="nft-viewer" data-nft="{{nftPostHashHex}}">Loading...</p>
</li>
{{/each}}
</ul>	

{{/if}}