{{#if nftData.PostFound}}
<p>{{nftData.PostFound.Body}}</p>

	{{#if nftData.message}}
	<p>{{nftData.message}}</p>
	{{/if}}

	{{#if previewImg}}
	<div id="container">
	<img class="nft-preview" src="{{previewImg}}"/>
	</div>
	<p class="nft-viewer" data-nft="{{nftPostHashHex}}">Loading...</p>
	{{/if}}

{{/if}}