<!DOCTYPE html>
<html>
  <head>
    <title>3D NFT Viewer</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/js/three.min.js"></script> 
    <script src="/js/OrbitControls.js"></script> 
    <script src="/js/GLTFLoader.js"></script> 
    <script src="/js/3dviewer.js"></script>
  </body>
</html>
