<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#fff">
    <link rel="manifest" href="https://3desocial.nftz.zone/manifest">
      
    <title>NFTs from 3DeSocial</title><meta name="description" content="See, buy, find NFTs from 3DeSocial"><meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"><link rel="canonical" href="https://3desocial.nftz.zone/"><meta name="twitter:card" content="summary_large_image"><meta property="og:site_name" content="NFTz"><meta property="og:url" content="https://3DeSocial.nftz.zone"><meta property="og:type" content="website"><meta property="og:title" content="NFTs from 3DeSocial"><meta property="og:description" content="See, buy, find NFTs from 3DeSocial"><meta property="og:image" content="https://node.deso.org/api/v0/get-single-profile-picture/BC1YLh3GazkEWDVqMtCGv6gbU79HcMb1LKAgbYKiMzUoGDEsnnBSiw7"> <meta property="og:image:alt" content="Profile image from 3DeSocial"><link rel="icon" href="NFT_files/BC1YLh3GazkEWDVqMtCGv6gbU79HcMb1LKAgbYKiMzUoGDEsnnBSiw7.webp"> <link rel="apple-touch-icon" href="NFT_files/BC1YLh3GazkEWDVqMtCGv6gbU79HcMb1LKAgbYKiMzUoGDEsnnBSiw7.webp">
    
    
            
   <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="https://bitcloutweb.azureedge.net/public/icons/splash-640x1136.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3)" href="https://bitcloutweb.azureedge.net/public/icons/splash-1125x2436.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="https://bitcloutweb.azureedge.net/public/icons/splash-750x1334.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="https://bitcloutweb.azureedge.net/public/icons/splash-1125x2436.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="https://bitcloutweb.azureedge.net/public/icons/splash-1242x2208.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="https://bitcloutweb.azureedge.net/public/icons/splash-828x1792.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="https://bitcloutweb.azureedge.net/public/icons/splash-1242x2688.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)" href="https://bitcloutweb.azureedge.net/public/icons/splash-1170x2532.png?v=1">
   <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)" href="https://bitcloutweb.azureedge.net/public/icons/splash-1284x2778.png?v=1">
  <link rel="stylesheet" href="NFT_files/vendor-1ddb9b4e.css">
  <link rel="stylesheet" href="NFT_files/Spinner-49ec4c3d.css">
  <link rel="stylesheet" href="NFT_files/__layout-b2da557f.css">
  <link rel="stylesheet" href="NFT_files/index.css">
  <link rel="stylesheet" href="NFT_files/Card.css">
  <link rel="stylesheet" href="NFT_files/SvelteTooltip.css">
  <link rel="stylesheet" href="NFT_files/Creator-a33ca062.css">
  <link rel="stylesheet" href="NFT_files/Top-4b173869.css">
  <link rel="stylesheet" href="NFT_files/CreatorHeader-b870ed1b.css">
  <link rel="stylesheet" href="NFT_files/GridContent-aeec65ad.css">
  <link rel="stylesheet" href="NFT_files/details.svelte.css">
  <link rel="stylesheet" href="css/styles.css">

 </head>
  <body cz-shortcut-listen="true">
   <form id="nft-overlay" class="nft-3d-overlay" style="display:none;">
    <dl><dt>Show Floor</dt>
    <dd><input type="checkbox" id="floor" name="floor" value="Show Floor" checked="checked"/></dd>
    </dl>
  </form>    
    {{{body}}}
   
    <script type="module">
      // Find the latest version by visiting https://cdn.skypack.dev/three.

      import { D3DNFTViewer } from '/js/3dviewer.js'
      console.log(D3DNFTViewer);

            //initialize NFT viewer front end
        let nftViewer = new D3DNFTViewer({
            ctrClass: 'nft-viewer', // Attribute of div containing image
            nftDataAttr: 'data-nft', // Attribute of div.ctrClass containing post has hex
            nftsRoute: 'nfts', // Back end route to initialize NFTs
            modelsRoute: 'models', // Back end route to load models
            linkText: 'View in 3D',
            previewCtrCls: 'post-wrapper', //container element in which to create the preview
            skyboxes: false
        });
        nftViewer.initNFTs();

   </script>
  </body>
</html>
 