.post-wrapper {
	overflow: hidden;
}
a.d3d-btn {
	color: #fff;
	padding: 0.5em 1em 0.25em 0.25em;
	display: inline-block;
}
canvas {
	min-width: 420px;
}

form.nft-3d-overlay {
	display: inline-block;
	position: absolute;
	color: #fff;
	left: 0;
	width: 100%;
	right: 0;
	border-bottom: 1px solid #fff;
}
.nft-3d-overlay dl {
	margin: 0.5em 0em 0.25em 0.5em;
}
.nft-3d-overlay dl dd,
.nft-3d-overlay dl dt {
	display: inline-block;
	margin-left: 0.5em;
}

#collection-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
button#VRButton {
	cursor: pointer;
	padding: 1em;
	margin: 0 0 .5em;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: 700;
	border: 1px solid transparent;
	letter-spacing: .5px;
	position: absolute;
	bottom: 4em;
	left: 50%;
  transform: translate(-50%, -50%);	
}